#.env variables
.env
.env.example

# Environments
.venv/
env/
venv/

# Python cache
__pycache__/
*.pyc
*.pyo

# OS Files
.DS_Store

# Browser state & Logs
browser_data/

# 資料庫檔案
#*.db
#threads_posts.db
